* {
  margin: 0;
  padding: 0;
}


nav {
  background-color: lightgray;
  font-size: xx-large;
  padding: 15px;
  font-family: sans-serif;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameArea {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.square {
  border: solid 1px black;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  font-size: 3.2rem;
}

#pturn {
  font-family: sans-serif;
  text-align: center;
  padding: 15px 0;
}